/* header 1 */
h1{
    /* position: absolute;
    top: 0;
    left: 0; */
    color: red !important;
    font-size: 33px;
    text-decoration: underlined;
    text-transform: uppercase;
}

#header h1{
    color: yellow;
    font-size: 64px;
}

#my_only_span{
    color: springgreen;
}

/* p tags */
p{
    font-size: 18px;
    color: blue;
}

#written_content > p{
    color: yellowgreen;
    font-size: 24px;
}

/* default browser styles override inheritance */
/* a{
    text-decoration: underline;
    color: orange;
} */

span{
    text-transform: uppercase;
}

span[class~="my_class"]{
    color: teal;
}

div, span{
    width: 100%;
    /* color: red; */
    background-color: slategrey;
}

.my_class{
    color: tomato;
}

a:hover{
    color: red;
}

a:active{
    color: orange;
}

/* a:visited{
    color: purple;
} */

.box{
    margin: 30px auto;
    border: 2px dashed cadetblue;
    padding: 5px 0px;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
}










/* body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
} */
