body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #b1c3ff;
}

#wrapper{
    width: 80%;
    margin: 0 auto;
    background: #ffffff;
}

#navigation{
    background: slategray;
    padding: 10px;
}

#navigation ul{
    text-align: left;
    list-style-type: none;
    margin-left: 10px;
    padding: 0px;
}

#navigation li{
    display: inline-block;
    margin-right: 20px;
}

#navigation a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#navigation a:hover{
    display: inline-block;
    background: #ffffff;
    color: slategray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#lead-banner img{
    width: 100%;
    height: auto;
}

/* EXPERIENCES */
.pos_img.huawei > img {
    width: 60%;
    max-width: 200px;
    height: auto;
}

.pos_img.bloorview > img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.experience.huawei{
    display: flex;
    margin-bottom: 2%;
}

.experience.bloorview{
    display: flex;
    margin-bottom: 2%;
}

.flex_img{
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
    height: same-as-width;

}

.pos_img{
    display: inline-block;
    /* background: lightgray; */
    border-radius: 15px;
    /* border: 1px solid red; */
    padding: 10px;
    width: 100%;
    text-align: center;
    /* position: relative; */
    /* object-fit: fill; */
    /* float: inline-start; */
    /* float: left; */
}


.pos_text{
    display: inline-block;
    background: lightgray;
    border-radius: 15px;
    /* margin: 1%; */
    padding-left: 10px;
    width: 75%;
    margin-right: 2%;
    margin-left: 2%;
    /* float: left; */
}

/* SKILLS */
.skills_wrapper{
    display: flex;
    width: 80%;
    margin: 1% auto;
    line-height: 1.75;
}

.skills.software{
    width: 33%;
}

.skills.frameworks{
    width: 33%;

}

.skills.technical{
    width: 33%;

}

.skills ul{
    list-style-type: none;
    padding-left: 0;
}

.skills li:hover{
    background-color: lightblue;
}